<div class="container">
    <div class="projects-container">
        <div class="project">
            <img src="../Images/Imagem 35.19.png" alt="Projeto 1">
            <h3>Douglas Castro - landing page</h3>
            <p>Pagina para re-marketing e direcionamento de clientes.</p>
            <button class="btn">Ver detalhes</button>
        </div>
        <div class="project">
            <img src="./src/img/Tainara.png" alt="Projeto 2">
            <h3>Estudio Tainara Sandy - landing page</h3>
            <p>Pagina para divulgação, com tabela de preços e redirecionamento de clientes</p>
            <button class="btn">Ver detalhes</button>
        </div>
        <!-- Outros projetos... -->
    </div>
</div>